/* :nth-child() seleciona somente um elemento específico 
linear-gradient (to right cor1, cor2) é um jeito de dividir as cores sem quebrar durante a responsividade*/
.bicicletas-bg:nth-child(3) {
    background: linear-gradient(to right, var(--cor-0) 25%, var(--cor-11) 0%);
}

.bicicletas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.bicicletas-imagem {
    position: relative;
}

.bicicletas-imagem span {
    background: var(--cor-12);
    color: var(--cor-1);
    display: inline-block;
    padding: 8px 16px 8px 8px;
    position: absolute;
    top: 20px;
    right: 0px;
    border-radius: 4px 0 0 4px;
}

.bicicletas-conteudo {
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: start;
    align-content: start;
}

.bicicletas h2,
.bicicletas p {
    grid-column: 1 / -1;
}

.bicicletas h2 {
    margin-bottom: 20px;
}

.bicicletas h2::before {
    content: "";
    display: block;
    width: 12px;
    height: 8px;
    background-color: var(--cor-p1);
    margin-bottom: 8px;
}

.bicicletas p {
    margin-bottom: 32px;
}

.bicicletas a {
    place-self: end;
}

.bicicletas li {
    display: flex;
    align-items: center;
}

.bicicletas li+li {
    margin-top: 16px;
}

.bicicletas-conteudo img {
    width: 24px;
    margin-right: 8px;
}

@media (max-width: 800px) {
    .bicicletas {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .bicicletas-bg:nth-child(3) {
        background: var(--cor-11);
    }
}

@media (max-width: 600px) {
    .bicicletas-conteudo {
        grid-template-columns: 1fr
    }

    .bicicletas ul {
        font-size: 1rem;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 32px;
    }

    .bicicletas a {
        place-self: start;
    }
}