/* Global */
@import url(global.css);
@import url(header.css);
@import url(../utilidades/tipografia.css);


/* Utilidades */
@import url(../utilidades/componentes.css);
@import url(..//utilidades/cor.css);

/* Home */
@import url(../home/introducao.css);
@import url(../home/tecnologia.css);
@import url(../home/parceiros.css);
@import url(../home/depoimento.css);

/* Bicicletas */
@import url(../bicicletas/bicicletas-lista.css);