.parceiros {
    padding-top: 60px;
    padding-bottom: 120px;
}

.parceiros h2 {
    margin-bottom: 60px;
}

.parceiros ul {
    padding: 0 20px;
    max-width: 1400px;
    display: grid;
    /* Outro jeito de escrever 1fr 1fr 1fr 1fr */
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
}

.parceiros li {
    display: flex;
    padding: 32px;
    border-left: 2px solid var(--cor-2);
}

.parceiros img {
    margin: auto;
}

.parceiros li:first-child,
/* Selecionando o quinto filho */
.parceiros li:nth-child(5) {
    border-left: none;
}

.parceiros li:nth-child(n + 5) {
    /* Selecionando a partir do quinto filho */
    border-top: 2px solid var(--cor-2);
}

@media (max-width: 800px) {
    .parceiros {
        padding-bottom: 60px;
    }
    .parceiros h2 {
        margin-bottom: 20px;
    }
    .parceiros ul {
        grid-template-columns: repeat(2, 1fr);
    }
    .parceiros li:nth-child(n + 3) {
        border-top: 2px solid var(--cor-2);
    }
    .parceiros li:nth-child(odd) {
        border-left: none;
    }
}